.board {
  box-shadow: $box-shadow;

  .board-body {
    border-radius: $general-border;
    overflow: hidden;
    max-height: 25rem;
    overflow-y: scroll;
  }

  @media (max-width: $layout-breakpoint-sm) {
    .board-body {
      max-height: 20rem;
    }
  }

  .board-footer {
    border-radius: $general-border;

    height: $input-height;
    font-size: $fs-sm;
    background: $main-ele-bg;

    padding-inline: 1.5rem;

    &.flex {
      @include flex;
      justify-content: space-between;
    }

    .btn-container {
      border-radius: $general-border;

      &.flex {
        @include flex($gap: 1em);
      }
    }
  }

  @media (max-width: $layout-breakpoint-mid) {
    .board-footer {
      position: relative;
      z-index: 0;

      .btn-container {
        position: absolute;
        background: $main-ele-bg;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        height: $input-height;
        box-shadow: $box-shadow;
        transform: translateY(calc(100% + 1rem));

        &.flex {
          justify-content: center;
        }
      }
    }
  }
}
