.board {
  border-radius: $general-border;
  // max-height: calc(25rem + $input-height);

  @include themify() {
    background: themified(main-ele-bg);
    box-shadow: 0 2rem 3rem -1rem themified(box-shadow);
  }

  .board-body {
    border-radius: $general-border;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 25rem;
  }

  @media (max-width: map-get($breakpoints,sm)) {
    .board-body {
      max-height: 20rem;
    }
  }

  .board-footer {
    @include font-size($ft-font-sizes);

    border-radius: $general-border;

    height: $input-height;

    padding-inline: 1.5rem;

    &.flex {
      @include flex;
      justify-content: space-between;
    }

    .btn-container {
      border-radius: $general-border;

      &.flex {
        @include flex($gap: 1em);
      }
    }
  }

  @media (max-width: map-get($breakpoints,mid)) {
    .board-footer {
      position: relative;
      z-index: 0;

      .btn-container {
        @include themify() {
          background-color: themified(main-ele-bg);
          box-shadow: themified(box-shadow);
        }

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
        height: $input-height;
        transform: translateY(calc(100% + 1rem));

        &.flex {
          justify-content: center;
        }
      }
    }
  }
}
