.status-btn {
  @include btn($weight: $fw-700, $hover: $main-txt, $active: $primary-blue);

  &.active {
    color: $primary-blue;
  }
}

.clear-btn {
  @include btn($hover: $main-txt);
}

.check-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 1.5rem;
  cursor: pointer;

  .check-border {
    aspect-ratio: 1;
    width: 1.25em;
    border-radius: 50%;
    border: 1px solid $main-ele;
    transition: all ease-in-out 0.2s;

    &.flex {
      @include flex;
      place-content: center;
    }

    &:hover {
      background: linear-gradient($main-ele-bg, $main-ele-bg) padding-box,
        linear-gradient($primary-hover) border-box;
      border: 1px solid transparent;
    }

    &.active {
      background: linear-gradient($primary-hover);
      background-repeat: no-repeat;
      border: none;
    }
  }

  .check-icon {
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }
}

.cross-btn {
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  height: 100%;
  cursor: pointer;
  flex: 1;

  &.flex {
    @include flex;
    justify-content: right;
  }

  &:hover {
    opacity: 1;
  }

  @media (max-width: 45em) {
    opacity: 1;
  }
}
