.list {
  @include positionRelative;

  @include themify() {
    border-bottom: 1px solid themified(main-ele);

    .completed {
      color: themified(main-ele-txt);
      text-decoration-line: line-through;
    }
  }

  .list-container {
    @include elebase($padding: 0 1.5em 0 4em);
  }

  .flex {
    @include flex;
  }

  .list-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 90%;
    transition: color ease-in-out 0.25s;
  }
}
