$themes: (
  light: (
    main-bg: hsl(0, 0%, 98%),
    main-txt: hsl(235, 19%, 35%),
    main-ele-bg: hsl(0, 0%, 100%),
    main-ele: hsl(236, 33%, 92%),
    main-ele-txt: hsl(236, 9%, 61%),
    box-shadow: hsla(235, 19%, 80%, 0.5),
    imgpath: light,
  ),
  dark: (
    main-bg: hsl(235, 21%, 11%),
    main-txt: hsl(234, 39%, 85%),
    main-ele-bg: hsl(235, 24%, 19%),
    main-ele-txt: hsl(233, 14%, 35%),
    main-ele: hsl(234, 14%, 26%),
    box-shadow: hsla(235, 24%, 19%, 0.5),
    imgpath: dark,
  ),
);

@function themified($key) {
  @return map-get($theme-map, $key);
}

@mixin themify($selector: "&") {
  @each $theme, $map in $themes {
    .theme--#{$theme} #{$selector} {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
