*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  @each $key in $themes-keys {
    &.theme--#{$key} {
      @include background($key);
      background-color: themed($key, "main-bg");
      color: themed($key, "main-txt");

      @media (max-width: map-get($breakpoints,sm)) {
        @include background($key, true);
      }
    }
  }
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

@media (max-width: map-get($breakpoints,sm)) {
  img,
  svg {
    transform: scale(0.75);
  }
}

input,
button,
select {
  all: unset;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.invisible {
  display: none !important;
}
