*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  @include themify("") {
    background-image: url("../../assets/images/bg-desktop-#{themified(imgpath)}.jpg");
    background-color: themified(main-bg);
    color: themified(main-txt);
    background-repeat: no-repeat;
    transition: background ease-in-out 0.15s;

    @media (max-width: map-get($breakpoints, sm)) {
      background-image: url("../../assets/images/bg-mobile-#{themified(imgpath)}.jpg");
    }
  }
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

@media (max-width: map-get($breakpoints,sm)) {
  img,
  svg {
    transform: scale(0.75);
  }
}

input,
button,
select {
  all: unset;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.invisible {
  display: none !important;
}
