@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$ff-main: "Josefin Sans", sans-serif;

body {
  @include font-size($p-font-sizes);

  font-family: $ff-main;
  font-weight: 400;
}

h1 {
  @include font-size($h-font-sizes);
}

input {
  font: inherit;
}

a {
  text-decoration: none;
}
