// break-point
$layout-breakpoint-mid: 45em;
$layout-breakpoint-sm: 23.75em;

$breakpoints: (
  mid: 45em,
  sm: 23.75em,
);

// letter spacing
$spacing-1: 0.75em;

// font-sizes
$h-font-sizes: (
  null: 2.5rem,
  sm: 1.625rem,
);

$p-font-sizes: (
  null: 1.125rem,
  sm: 0.75em,
);

$ft-font-sizes: (
  null: 0.875rem,
  sm: 0.75rem,
);

// font-weight
$fw-700: 700;
$fw-400: 400;

// border radius
$general-border: 0.375rem;

// input height
$input-height: 4em;
